@media only screen and (max-width: 1000px) {
    .hero {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .hero .map {
        grid-column: auto;
    }
    .hero .info {
        grid-column: auto;
    }
    .map .content {
        width: 650px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 780px) {
    .map .content {
        width: 500px;
        max-height: 550px;
    }
}
@media only screen and (max-width: 550px) {
    .map .content {
        width: 320px;
    }
}
@media only screen and (max-width: 450px) {
    .map .content {
        width: 280px;
    }
    .info .card {
        padding: 10px;
        margin: 0px;
    }
}
@media only screen and (max-width: 380px) {
    .map .content {
        width: 260px;
    }
}
